/* || Base */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* || Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, svg, video, canvas {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

/* || Variables */

:root {
  --color-one: #d90368;
  --color-two: #000000;
  --color-three: #f1faee;
  --border-r: .5em;
  --padding-sides: 0em 2em 0em 2em;
}

body {
  font-family: montserrat, "helvetica neue", helvetica, arial, sans-serif;
}

/* || DOM */
/* || Helpers */

.section-heading {
  text-align: center;
  padding: var(--padding-sides);
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2rem;
}

/* || Header */

.header--desktop {
  display: none;
  visibility: hidden;
}

.header--tablet {
  display: none;
  visibility: hidden;
}

.header--mobile  {
  position: relative;
  
  & .header__background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-one);
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 92%);
  }

  & .avatar {
    display: grid;
    align-items: end;
    justify-items: center;
    padding: var(--padding-sides);
    padding-top: 2em;
  
    font-size: .9rem;
    color: var(--color-three);
    font-weight: 500;
  
    & .name {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      padding: .2em;
      font-size: calc(1.5rem + 1.5vw);
    }
  
    & .photo {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: var(--border-r);
    }
  }
}

/* || About */

.about--mobile {
  display: flex;
  flex-direction: column;
  padding: var(--padding-sides);
  padding-top: 2em;
  font-size: calc(1rem + 1vw);

  & .about__social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 2em;
  }
}

/* || My Work */

.my-work {
  padding: var(--padding-sides);
  padding-top: 5em;
  padding-bottom: 5em;

  & .project-card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-content: center;
    justify-items: center;
    row-gap: 4em;
    column-gap: 3em;

    & .project-card {
      flex: 0 0 33.3333%;
      display: flex;
      flex-direction: column;
      gap: .5em;
      max-width: 300px;
      
      font-size: 1rem;
      border-radius: var(--border-r);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  
      & .project-card__image__container,
      .project-card__image__container > img {
        border-top-left-radius: var(--border-r);
        border-top-right-radius: var(--border-r);
      }
  
      & .project-card__info, 
      .project-card__description {
        padding-left: 1em;
        padding-right: 1em;
      }
  
      & .project-card__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1rem;
  
        & .project-card__info__links {
          display: flex;
          align-items: center;
          gap: .5em;
        }
      }
  
      & .project-card__description {
        padding-bottom: 2em;
      }
    }
  }
}

/* || Contact Me */

.contact {
  display: flex;
  align-items: center;
  background-color: var(--color-one);
  color: var(--color-three);

  & .contact__image--tablet,
  .contact__image--desktop {
    display: none;
    visibility: hidden;
  }

  & .contact__text {
    padding: var(--padding-sides);
    padding-bottom: 1em;
  }

  & .contact__addres {
    padding: var(--padding-sides);
    padding-bottom: 1em;

    & .contact__addres__phone,
    .contact__addres__email {
      display: flex;
      align-items: center;
      gap: .5em;
    }
  }

  & .contact__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 3em;
  }
}

.contact-icon {
  display: none;
  visibility: hidden;
}

/* || Responsive - Tablet */

@media (min-width: 768px) {
  .header--mobile {
    display: none;
    visibility: hidden;
  }

  .about--mobile {
    display: none;
    visibility: hidden;
  }

  .header__background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-one);
    clip-path: polygon(0 0, 100% 0, 100% 37%, 0 80%);
  }

  .header--tablet {
    visibility: visible;
    position: relative;
    display: block;
    font-size: 1.2rem;

    & .about--tablet {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      align-self: center;
      padding: 4em;

      & .about__content-wrapper {
        padding: 2em;
        padding-top: 0;
        margin-top: 2em;

        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        border-radius: var(--border-r);
        background-color: var(--color-three);

        & .about__heading {
          padding-bottom: .5em;
          padding-top: 1em;

          text-align: center;
          font-size: 2.2rem;
        }

        & .about__social-links {
          display: flex;
          justify-content: flex-end;
          gap: 1em;
          padding-top: 1em;
          margin-right: .5em;
        }
      } 
    }
  }

  .my-work {
    & .project-card-wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
  }
  
  .contact {
    display: flex;
    justify-content: space-evenly;

    & .contact__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 60ch;

      & .contact__heading {
        padding-left: 1em;
      }

      & .contact__socials {
        display: flex;
        padding-top: 1em;
        padding-left: 2em;
      }
    }
  }

  .contact-icon {
    display: block;
    visibility: visible;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about__photo {
    position: relative;
    float: left;
    max-width: 300px;
    margin-right: 1.5em;

    & > img {
      transform-origin: bottom right;
      transform: scale(1.25);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: var(--border-r);
    }

    & .about__photo__name {
      position: absolute;
      z-index: 1;
      transform: translate(60%, -115%);
      color: var(--color-three);
      white-space: nowrap;
      font-size: 2.5rem;
    }
  }

  .contact {
    & .contact__image--tablet {
      display: block;
      visibility: visible;
      max-width: 400px; 
    }
  }
}
/* || Responsive - Desktop */

@media (min-width: 1024px) {
  .header--tablet {
    display: none;
    visibility: hidden;
  }

  .header--desktop {
    display: block;
    visibility: visible;
  }

  .hover:hover {
    fill: var(--color-one);
  }

  .hover-two:hover {
    fill: var(--color-three);
  }

  .header--desktop {
    position: relative;
    display: grid;
    justify-items: center;
    align-content: center;

    & .header--desktop__background {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      
      background-color: var(--color-one);
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
      transform-origin: top right;
      transform: scale(1.2);
    }

    & .avatar__photo--desktop {
      float: left;
      max-width: 375px;
    }
  }

  .about--desktop {
    display: flex;
    justify-content: center;
    margin: 5em;

    border-top-right-radius: var(--border-r);
    border-bottom-right-radius: var(--border-r);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: var(--color-three);

    & .avatar {
      display: flex;
      justify-content: center;
      transform-origin: right;
      transform: scale(1.15);
      
      & > img {
        border-radius: var(--border-r);
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      }

      & h1 {
        position: absolute;
        bottom: 0;
        color: var(--color-three);
        font-size: 2.2rem;
      }
    }

    & .about__content-wrapper {
      display: grid;
      grid-template-rows: min-content 1fr min-content;
      align-content: start;
      justify-items: start;
      gap: 1em;
      padding: 1em;
      max-width: 800px;
      font-size: 1.3rem;

      & .about__social-links {
        display: flex;
        column-gap: .5em;
        align-self: end;
        justify-self: end;
      }
    }
  }

  .my-work {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .project-card-wrapper {
      display: grid;
      grid-template-columns: repeat(3, min-content);
      grid-template-rows: auto;
      align-items: center;
      justify-content: center;
      gap: 5vw;

      & .project-card {
        min-width: 280px;
        transition: transform .3s ease-out;
      }

      & .project-card:hover {
        transform: translateY(-2%);
      }
    }
  }

  .contact {
    & .contact__image--tablet {
      display: none;
      visibility: hidden;
    }

    & .contact__image--desktop {
      display: block;
      visibility: visible;
      max-width: 600px; 
    }
  }
}